# Project information
site_name: 小艾的 MkDocs 網站
# 之後修改成Gitlab page的網址
site_url: https://test-hannah2400214-ef491c3dd4eaf78a970e206fc5e458d3e166d011e109.gitlab.io
site_author: Selene Ai
site_description: 練習使用 Markdown ，來記錄目前所學的前端技術與相關知識，邁向程式的偉大航道～

# Repository
repo_name: SeleneAi499123/my-mkdocs-website
repo_url: https://github.com/SeleneAi499123/my-mkdocs-website
edit_uri: edit/main/docs/

# Configuration
theme:
  name: material
  custom_dir: material/overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    # - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    # - navigation.indexes

    - navigation.instant
    - navigation.instant.preview

    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  logo: assets/angular.png
  favicon: assets/angular.png
  icon:
    annotation: material/plus-circle-outline

# Plugins
plugins:
  # - blog
  - search:
      separator: '[\s\u200b\-_,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  # - minify:
  #     minify_html: true

# # Hooks
hooks:
  # - material/overrides/hooks/shortcodes.py
  - material/overrides/hooks/translations.py

# Additional configuration
extra:
  status:
    new: Recently added
    deprecated: Deprecated
  # analytics:
  #   provider: google
  #   property: !ENV GOOGLE_ANALYTICS_KEY
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/SeleneAi499123

extra_css:
  - stylesheets/extra.css

# 將超連結改為 _blank
extra_javascript:
  - 'custom.js'

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: SeleneAi499123
      repo: my-mkdocs-website
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md
  - Getting started:
    - Installation: getting-started.md
    - Create a new project: create.md
    - Route: 
      - Route: route/route.md
      - Navigation style: route/navstyle.md
      - Parameter passing: route/param.md
    
      
    

  - Components: 
    - Component: component/component.md
    - Life cycle: component/lifecycle.md
    - ng-content: component/ngcontent.md
    
    - Directive:    
      - Directive : directive/directive.md

    - Service:    
      - Dependency Injection : service/di.md
      - Http Client: service/httpclient.md


  - Form:
    - Reactive form: form/reactive-form.md
    - Template form: form/template-form.md
    - Web api: form/web-api.md
    - Entity framwork: form/entity-framwork.md
  
  - Git: 
    - Git commands: git/git.md
    - Git push to multi repo: git/git-remote-multi-repo.md
    - Add new SSH Key: git/ssh-key.md 
    


  - Learn more:
    - MkDocs material: more/material.md
    - Build MkDocs website: more/build.md